.home-grid .banner-regua{margin:0}
.home-grid .main-banner{margin:0}

.home-grid{position:relative}
.video-maemequer{
    height:calc(100vh - 209px);
    width:100vw;
    position:relative;
    left:calc(50% - 50vw);
    margin-top:-20px;
    overflow:hidden;
}
.video-maemequer video{
    width:100%!important;
    height:auto!important;
}

/* JBQ - Alterações */
#instafeed{
  margin-top: 20px;
}

.atendimento-topo span{
  color: @bg(1:hover);
  font-weight: 600;
}
.atendimento-topo span:hover{
  color: @bg(1);
}

.footer .horario .email{
  padding: 0 0 10px 0;
}

@media (max-width: 480px) {
  /* Ajuste menus footer */
  .footer-4cols .col{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }
  /* Correção formas de entrega mobile */
  #checkout-shipping-method-load ul{
    display: block;
  }
  .form-list .fields > *{
    display: block;
  }
  /* Correção formas de pagamento mobile */
  .banks-accounts dd{
    padding-bottom: 20px;
  }
  .banks-accounts th{
    display: none;
  }
  .banks-accounts tr td{
    display: block;
    padding: 0 20px 20px 20px;
    border: 1px solid #eee;
  }
  .banks-accounts tr td:before{
    display: block;
    padding: 10px 20px;
    background: #f5f5f5;
    margin: 0 -20px 20px -20px;
  }
  .banks-accounts tr td:first-child:before{
    content: 'Nome da Conta';
  }
  .banks-accounts tr td:nth-child(2):before{
    content: 'Agência';
  }
  .banks-accounts tr td:nth-child(3):before{
    content: 'Número da Conta';
  }
}
