<div class="footer-texto std">
	{{widget type="cms/widget_block" template="cms/widget/static_block/default.phtml" block_id="15"}}
</div>
<div class="footer-4cols">
    <div class="col">
		<div class="ftitle">Festas <strong>em Casa</strong></div>
		<div class="tele">11 99213-8228</div>
		<div class="horario">
			<div class="email">{{config path="trans_email/ident_custom1/email"}}</div>
		</div>
	</div>
	<div class="col" id="atendimento">
		<div class="ftitle">Atendimento <strong>Loja Online</strong></div>
		<div class="tele">{{config path="general/store_information/phone"}}</div>
		<div class="horario">
			<div class="email">{{config path="trans_email/ident_general/email"}}</div>
            {{widget type="cms/widget_block" template="cms/widget/static_block/default.phtml" block_id="16"}}
		</div>
	</div>
	<div class="col">
		<div class="ftitle">Sobre <strong>{{config path="general/store_information/name"}}</strong></div>
		{{block type="menubuilder/output" identifier="sobre-a-loja"}}
	</div>
	<div class="col">
		<div class="ftitle">Tire suas <strong>D&uacute;vidas</strong></div>
		{{block type="menubuilder/output" identifier="tire-duvidas"}}
	</div>
	<div class="col">
		<div class="ftitle">Acesse <strong>sua Conta</strong></div>
		{{block type="menubuilder/output" identifier="acesse-conta"}}
	</div>
</div>
<div class="footer-2cols">
	<div class="col">
		<div class="ftitle">Formas de <strong>Pagamento</strong></div>
		{{widget type="cms/widget_block" template="cms/widget/static_block/default.phtml" block_id="17"}}
	</div>
	<div class="col">
		<div class="ftitle">Formas de <strong>Envio</strong></div>
		{{widget type="cms/widget_block" template="cms/widget/static_block/default.phtml" block_id="18"}}
	</div>
</div>
<div class="footer-2cols last">
	<div class="col facebook-page-plugin">
		<div class="ftitle">Redes <strong>Sociais</strong></div>
		{{widget type="cms/widget_block" template="cms/widget/static_block/default.phtml" block_id="19"}}
	</div>
	<div class="col">
		<div class="ftitle">Total <strong>Seguran&ccedil;a</strong></div>
		{{widget type="cms/widget_block" template="cms/widget/static_block/default.phtml" block_id="20"}}
	</div>
</div>
<div class="footer-copy">
	{{widget type="cms/widget_block" template="cms/widget/static_block/default.phtml" block_id="21"}}
</div>
