<script type="text/javascript">
    // Chamada Instafeed
    var userFeed = new Instafeed({
        get: 'user',
        userId: '418229639',
    	accessToken: '418229639.0c0f9ae.bdea1cbb782448f08e86754620809c30',
    	limit: '3',
    	template: '<a href="{{link}}" target="_blank"><img src="{{image}}" /></a>'
    });
    userFeed.run();
    // Chamada Follow Button
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src="//x.instagramfollowbutton.com/follow.js";s.parentNode.insertBefore(g,s);}(document,"script"));
</script>
<div class="ftitle"><strong>Instagram</strong></div>
<span class="ig-follow" data-id="ffc81ad349" data-handle="maemequer" data-count="true" data-size="large" data-username="true"></span>
<div id="instafeed"></div>
